$breakpoint-s: 320px;
$breakpoint-xxs: 375px;
$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-df: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1333px;
$breakpoint-xxl: 1440px;
$breakpoint-3xl: 1540px;
