$white: white !default;
$black: black !default;
$blue: #56BBD0;
$blue-text: #00A99D;
$dark-blue: #0F2137;
//$red: red !default;
//$dark-red: #a43e3d;
//$dark-grey: #20252d;
$light-gray: #F9FBFD;
//$grey: #6d6e72;
//$grey-medium: #e5e5e5;
//$lighter-grey: #f0f1f5;
//$dark-green: #5c8a45;
//$text-color: #262566;
//$dark-blue: #000c31;
//$grey-bg: rgba(54, 59, 66, 0.93);
