//fonts
$font-family-default: 'DM Sans', sans-serif;
$font-family-secondary: 'Heebo', sans-serif;
$font-family-title: 'Arvo', sans-serif;

//basic color
$main-color: #02073E;

//basic fonts
$base: 16;

