//button
button {
  font-size: rem(16);
  font-weight: 700;
  line-height: rem(40);
  background-color: transparent;
  text-align: center;
  vertical-align: center;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  outline:none;
  cursor: pointer;
}

