//title
h1 {
  color: $main-color;
  @include heading-styles;
  font-size: rem(24);
  line-height: rem(35);
  @media screen and (min-width: $breakpoint-xs) {
    font-size: rem(48);
    line-height: rem(70);
  }
}
